:root {
    --bg-color1: #000000;
    --bg-color2: #29115a;
    --primary-color: #8a5bf9;
    --header-color: #a67ffc;
    --header-glow: #dad7e3;
    --text-color: #FFFFFF;
    --border-radius: 0.25cap;
    --gap-spacing: 0.2rem;
    --border-width: 0.0625rem;
}

@font-face {
    font-family: Canva Sans;
    src: url(./assets/fonts/canva/CanvaSans-Bold.otf);
}

@font-face {
    font-family: Fira Code;
    src: url(./assets/fonts/fira/FiraCode-Bold.ttf);
}

@font-face {
    font-family: OCR A Extended;
    src: url(./assets/fonts/ocra/OCRAEXT.TTF);
}


/* background and general styling */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(var(--bg-color1), var(--bg-color2));
    height: 100vh;
    margin: 0 auto;
    color: var(--text-color);
    font-family: Canva Sans;
    z-index: 0;
}

.backgroundEffects {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1000;
    background-image: radial-gradient(var(--bg-color1), var(--bg-color2));
    height: 100vh;
}

.hexagonGrid {
    display: grid;
    position: fixed; 
    z-index: -1000;
    grid-template-columns: repeat(20, 5vw);
    grid-template-rows: repeat(20, 5vw);
    opacity: 0.2;
    pointer-events: none;
}

.hexagonGrid div {
    aspect-ratio: 1; 
    overflow: visible;
}


.hexagonGrid img {
    filter: invert(70%) sepia(100%) saturate(1000%) hue-rotate(235deg) brightness(100%) contrast(100%);
    width: 200%;
    height: 200%;
    object-fit: contain;
}

.leftBound, .rightBound {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color:var(--bg-color2);
    height: 100vh;
}

.leftBound {
    left: -95%;
    width: 100%;
    z-index: 1000;
}

.rightBound {
    left: 95%;
    width: 5%;
    z-index: 1000;
}

/* navbar styling */


.navbarDesktopDisplay > div > a, .navbarMobileDisplay > div > a {
    color: var(--text-color);
}

.navbarNoDisplay {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color:var(--bg-color2);
}

.navbarMobileDisplay {
        display: flex;
        width: 100%;
        height: 3rem;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color:var(--bg-color2);
        font-family: OCR A Extended;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
}

.hamburgerMenu {
    position: fixed;
    margin: 0 auto;
    z-index: 1001;
    cursor: pointer;
    justify-content: center;
}

.hamburgerMenu img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 40px;
    height: auto;
    margin: 4px 0;
    transition: 0.4s;
    z-index: 2001;
}

.mobileNavbarLinks {
    display: none;
    flex-direction: column;
    gap: 7vh;
    font-size: 200%;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: var(--bg-color2);
    z-index: 1000;
    align-items: center;
}

.navbarDesktopDisplay {
    display: none;
}


/* home page styling */

.profilePicture {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: var(--primary-color);
    border-width: 0.5vh;
    border-style: solid;
    margin-top: 7rem;
    margin-bottom: 14rem;
}

.profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 { /* using h2 as the header for the home page */
    font-family: Fira Code;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0rem;
    color: var(--primary-color);
    text-shadow: 0 0 0.5rem #0800ff;
}

h1 {
    font-family: Fira Code;
    text-align: center;
    font-size: 7rem;
    color: var(--primary-color);
    text-shadow: 0 0 0.5rem #0800ff;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 80vw;
}

.headerLeftAlign {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    z-index: 0;
    width: 80vw;
}

.headerRightAlign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    z-index: 0;
    width: 80vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0 20vh 0;
}


.projectsHeader {
    text-align: center;
    position: relative;
    top: 3vh;
    left: 0;
    right: 0;
    width: 80vw;
}

.projectsMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    margin-top: -15vh;
}

.projectsMain > div {
    width: 25vw;
    height: 45vh;
    background-color: var(--bg-color2);
    display: flex;
    justify-content: center; 
    align-items: center;
    border-color: var(--primary-color);
    border-radius: var(--border-radius);
    border-width: 1vh;
    border-style: solid;
}

.aboutMain {
    align-items: center;
    gap: 5vw;
    margin-top: -15vh;
    width: 80vw;
    z-index: -100;
    font-family: Canva Sans;
    color: white;
}

.aboutHeader {
    padding-top: 50vh;
}

.aboutImage {
    height: 60vh;
    object-fit: contain;
    float: right;
    margin-left: 15vh;
    margin-top: 0;
    filter: brightness(0) invert(1);
}

.skillsMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
    margin-top: -35vh;
    width: 80vw;
    font-size: xx-large;
}

.skillsMain > img {
    width: 30vw;
    height: 60vh;
    object-fit: contain;
    justify-content: flex-start;
}

.contactHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-top: -1vh;
}

.contactMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: -15vh;
    width: 70vw;
    background-color: rgba(41, 17, 90, 0.2);
    padding: 1rem 1rem 1rem 1rem;
    border-color: var(--primary-color);
    border-width: 0.5rem;
    border-style: solid;
    margin-top: -10vh;
}

.contactMain form {
    width: 100%;
}

.contactMainForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
    width: 100%;
    margin-bottom: 1rem;
}

.contactMainForm > section > input, .contactFormMessageSection textarea {
    background-color: var(--bg-color1);
    border: 0.1rem solid var(--text-color);
    color: var(--text-color);
    font-size: 1rem;
    padding: 0.5rem;
    font-family: OCR A Extended;
    display: block;
    width: inherit;
    justify-content: space-between;
    align-content: space-between;
    width: calc();
    height: 2rem;
    box-sizing: border-box;
}

.contactFormMessageSection textarea {
    height: 100%;
}

.contactFormInputSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contactFormMessageSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 10rem;
}

.skillsImage {
    width: 30vw;
    height: 60vh;
    object-fit: contain;
}

a {
    text-decoration-line: none;
}

button {
    background-color: var(--primary-color);
    border: 0.5rem solid var(--primary-color);
    color: var(--text-color);
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    font-family: Canva Sans;
    transition: 0.3s;
    display: block;
    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center; 
}

button:hover {
    background-color: var(--header-color);
    font-size: 1.3rem;
    transition: 0.3s;
}

.homeNavbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-spacing);
    width: 80vw;
 
}

.homeNavbar button {
    display: flex;
    gap: calc() var(--gap-spacing) + 1rem;
    margin-bottom: 1rem;
}

.homeLinks {
    display: none;
    /* display: flex;
    gap: var(--gap-spacing);
    justify-content: center; 
    align-items: center; */
}


/* footer styling */

.socialLinkImage {
    max-width: 4rem;
}

.desktopResumeLink {
    display: none;
}

footer {
    background-color:var(--bg-color2);
    width: 100%;
    align-items: center;
    padding-top: 1rem;
    position: fixed;
    bottom: 0;
    
}

.footerLinks {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.copyright {
    font-size: 0.6rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    color:rgb(103, 98, 98);
}

/* Mobile responsiveness */

@media (min-width: 768px) {

    /* desktop navbar styling */

    .navbarDesktopDisplay {
    display: flex;
    width: 95%;
    height: 3rem;
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color:var(--bg-color2);
    font-family: OCR A Extended;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    }

    .leftNavbarDisplay {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80rem;
    }

    .rightNavbarDisplay {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
    }

    /* home page styling */

    .homeHeader {
        margin-top: -15rem;
    }

    .homeNavbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: var(--gap-spacing);
        width: 80vw;
        gap: 3vw;
    }

    .homeNavbar > a {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 60%;
    }

    .mobileResume {
        display: none;
    }

    /* footer styling */

    .footerLinks {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 95vw;
        margin: 0 auto;
    }

    .desktopResumeLink {
        color: var(--primary-color);
        display: flex;
        justify-content: flex-start; 
        z-index: 2000;
    }

    .socialLinkImage {
        padding: 0 0.2rem 0 0.2rem;
    }

}

 