<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <div class="backgroundEffects"> 
        <div class="leftBound"></div>
        <div class="rightBound"></div>
        <div class="hexagonGrid"></div>
    </div>

    <nav class="navbarDesktopDisplay">
        <div class="leftNavbarDisplay">
        <a href="/">Home</a>
        </div>

        <div class="rightNavbarDisplay">
        <a href="/about">About</a>
        <a href="/skills">Skills</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        </div>
    </nav>

    <nav class="navbarMobileDisplay">

        <div class="hamburgerMenu" onclick="mobileNavbar()">
            <img src="../images/hamburger-menu-svgrepo-com.png" alt="">
        </div>

        <div class="mobileNavbarLinks" id="mobileNavbarLinks">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/skills">Skills</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
        
    </nav>

    <h1 class="contactHeader">CONTACT</h1>

    <main class="contactMain">
        <form action="submit" method="post">

            <section class="contactMainForm">

                <section class="contactFormInputSection">

                    <input type="text" id="name" name="name" placeholder="Name...">

                    <input type="email" id="email" name="email" placeholder="Email...">
            
                </section>

                <section class="contactFormMessageSection">

                    <textarea id="message" name="message" placeholder="Leave a message..."></textarea>

                </section>

            </section>

            <button type="submit">Send Message</button>
        </form>
    </main>


    <footer>
        <div class="footerLinks">
            <a href=""> <p class="desktopResumeLink"> Resume </p> </a>
            <div class="socialLinks">
                <a href=""><img class="socialLinkImage" src="../images/gitHub.png" alt="GitHub"></a>
                <a href=""><img class="socialLinkImage" src="../images/linkedIn.png" alt="LinkedIn"></a>
                <a href=""><img class="socialLinkImage" src="../images/gmail.png" alt="Gmail"></a>
            </div>
        </div>
        <p class="copyright">© Copyright 2026 by Nyakeh Saffa-Songa. All rights reserved.</p>
    </footer>

    <script src="../scripts/script.js"></script>
</body>
</html>