<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Nyakeh Saffa-Songa">
    <meta name="description" content="">
    <meta property="og:image" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Nyakeh's Portfolio Website | Home</title>
</head>

<body>

    <div class="backgroundEffects"> 
        <div class="leftBound"></div>
        <div class="rightBound"></div>
        <div class="hexagonGrid"></div>
    </div>
    
    <nav class="navbarNoDisplay">
        
    </nav>

    <main>

        <header class="homeHeader">
            <div class="profilePicture"> <img src="./images/profile.jpg" alt=""> </div>
            <h2>Nyakeh Saffa-Songa</h2>
        </header>


        <div class="homeNavbar">
            <a href="about"><button>About</button></a>
            <a href="skills"><button>Skills</button></a>
            <a href="projects"><button>Projects</button></a>
            <a href="contact"><button>Contact</button></a>
            <div class="mobileResume"><a href="resume"><button>Resume</button></a></div>
        </div>

        <div class="homeLinks">
            <a href=""><img class="socialLinkImage" src="../images/gitHub.png" alt="GitHub"></a>
            <a href=""><img class="socialLinkImage" src="../images/linkedIn.png" alt="LinkedIn"></a>
            <a href=""><img class="socialLinkImage" src="../images/gmail.png" alt="Gmail"></a>
        </div>

    </main>

    <footer>
        <div class="footerLinks">
            <a href=""> <p class="desktopResumeLink"> Resume </p> </a>
            <div class="socialLinks">
                <a href=""><img class="socialLinkImage" src="../images/gitHub.png" alt="GitHub"></a>
                <a href=""><img class="socialLinkImage" src="../images/linkedIn.png" alt="LinkedIn"></a>
                <a href=""><img class="socialLinkImage" src="../images/gmail.png" alt="Gmail"></a>
            </div>
        </div>
        <p class="copyright">© Copyright 2026 by Nyakeh Saffa-Songa. All rights reserved.</p>
    </footer>

    <script src="../scripts/script.js"></script>
    
</body>


</html>