:root {
    --bg-color1: #000000;
    --bg-color2: #29115a;
    --primary-color: #8a5bf9;
    --header-color: #a67ffc;
    --header-glow: #dad7e3;
    --text-color: #FFFFFF;
    --border-radius: 0.25cap;
    --gap-spacing: 0.2rem;
    --border-width: 0.0625rem;
}

@font-face {
    font-family: Canva Sans;
    src: url(../fonts/canva/CanvaSans-Bold.otf);
}

@font-face {
    font-family: Fira Code;
    src: url(../fonts/fira/FiraCode-Bold.ttf);
}

@font-face {
    font-family: OCR A Extended;
    src: url(../fonts/ocra/OCRAEXT.TTF);
}


/* background and general styling */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(var(--bg-color1), var(--bg-color2));
    margin: 0 auto;
    color: var(--text-color);
    font-family: Canva Sans;
    z-index: 0;
}


.backgroundEffects {
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
}

.hexagonGrid {
    display: block;
    position: absolute; 
    top: -5%;
    right: 0%;
    opacity: 0.2;
    background-image: url('../images/other/mobileHexagonGrid.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1000;
    width: 100vw;
}

.hexagonGrid div {
    opacity: 0; 
    overflow: visible;
}


.leftBound, .rightBound {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color:var(--bg-color2);
    height: 100%;
}

.leftBound {
    left: 0;
    top: 0;
    width: 5vw;
    z-index: 1000;
}

.rightBound {
    right: 0;
    top: 0;
    width: 5vw;
    z-index: 1000;
}

a {
    color: var(--text-color);
    text-decoration-line: none;
}

button {
    background-color: var(--primary-color);
    border: 0.5rem solid var(--primary-color);
    color: var(--text-color);
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    font-family: Canva Sans;
    transition: 0.3s;
    display: block;
    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: center; 
}

button:hover {
    background-color: var(--header-color);
    font-size: 1.3rem;
    transition: 0.3s;
}

/* navbar styling */


.navbarDesktopDisplay > div > a, .navbarMobileDisplay > div > a {
    color: var(--text-color);
}

.navbarNoDisplay {
    width: 100vw;
    height: 3rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color:var(--bg-color2);
}

.navbarMobileDisplay {
    display: flex;
    width: 100vw;
    height: 3rem;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color:var(--bg-color2);
    font-family: OCR A Extended;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.hamburgerMenu {
    position: fixed;
    margin: 0 auto;
    z-index: 1001;
    cursor: pointer;
    justify-content: center;
}

.hamburgerMenu img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 40px;
    height: auto;
    margin: 4px 0;
    transition: 0.4s;
    z-index: 2001;
}

.mobileNavbarLinks {
    display: none;
    flex-direction: column;
    gap: 7vh;
    font-size: 200%;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: var(--bg-color2);
    z-index: 1000;
    align-items: center;
}

.navbarDesktopDisplay {
    display: none;
}


/* home page styling */

.homeHeader {
    display: flex;
    flex-direction: column;
    font-family: Fira Code;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    padding-bottom: 0rem;
    color: var(--primary-color);
    text-shadow: 0 0 0.5rem #0800ff;
    margin-top: -12vh;
}

.profilePicture {
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    align-items: center;
    width: 15rem;
}

.profilePicture {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    justify-content: center;
    border-color: var(--primary-color);
    border-width: 0.5vh;
    border-style: solid;
    margin-top: 7rem;
}

.profilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 { /* using h2 as the header for the home page */
    font-family: Fira Code;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0rem;
    color: var(--primary-color);
    text-shadow: 0 0 0.5rem #0800ff;
}

h1 {
    font-family: Fira Code;
    text-align: center;
    font-size: 7rem;
    color: var(--primary-color);
    text-shadow: 0 0 0.5rem #0800ff;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 80vw;
}

.headerLeftAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
    width: 80vw;
}

.headerRightAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 0;
    width: 80vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0 20vh 0;
}

/* projects page styling */


.projectsHeader {
    text-align: center;
    position: relative;
    top: 3vh;
    left: 0;
    right: 0;
    font-size: 325%;
    margin-top: 10vh;
    margin-bottom: 15vh;
}

.projectsMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    gap: 3vw;
    margin-top: -15vh;
    margin-bottom: 5vh;
}

.projectsMain > div {
    width: 100%;
    height: 45vh;
    background-color: var(--bg-color2);
    display: flex;
    justify-content: center; 
    align-items: center;
    border-color: var(--primary-color);
    border-radius: var(--border-radius);
    border-width: 1vh;
    border-style: solid;
}

/* about page styling */

.aboutHeader {
    margin-top: 15vh;
    font-size: 500%;
}

.aboutMain {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 80vw;
  z-index: -100;
  margin-top: -10vh;
  font-family: "Canva Sans";
  color: white;
}

.aboutImage {
  grid-row: 2; 
  justify-self: end;
  height: 60vh;
  width: 100%;
  object-fit: contain;
  filter: brightness(0) invert(1);

}

/* skills page styling */

.skillsHeader {
    font-size: 400%;
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 30vh;
}

.skillsMain {
    display: flex;
    flex-direction: column-reverse;
    align-items: left;
    margin-top: -35vh;
    width: 80vw;
    font-size: xx-large;
}

.skillsMain > img {
    width: 70vw;
    height: auto;
    align-self: center;
}

/* contact page styling */

.contactHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.contactMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-top: -15vh;
    width: 70vw;
    background-color: rgba(41, 17, 90, 0.2);
    padding: 1rem 1rem 1rem 1rem;
    border-color: var(--primary-color);
    border-width: 0.5rem;
    border-style: solid;
    margin-bottom: 30vh;
}

.contactMain form {
    width: 100%;
}

.contactMainForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    margin-bottom: 1rem;
}

.contactMainForm > section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.contactMainForm > section > input, .contactFormMessageSection textarea {
    background-color: var(--bg-color1);
    border: 0.1rem solid var(--text-color);
    color: var(--text-color);
    font-size: 1rem;
    padding: 0.5rem;
    font-family: OCR A Extended;
    display: block;
    width: inherit;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
}

.contactFormMessageSection textarea {
    height: 100%;
}

.contactFormInputSection {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.contactFormInputSection > input {
    height: 4.75rem;
}

.contactFormMessageSection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 10rem;
}

.skillsImage {
    width: 30vw;
    height: 60vh;
    object-fit: contain;
}

.homeNavbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-spacing);
    width: 80vw;
 
}

.homeNavbar button {
    display: flex;
    gap: calc() var(--gap-spacing) + 1rem;
    margin-bottom: 1rem;
}

.homeLinks {
    display: none;
}

.copyright {
    margin-top: 0vh;
    margin-bottom: 0.5vh;
}


/* footer styling */

.socialLinkImage {
    max-width: 4rem;
}

.desktopResumeLink {
    display: none;
}

footer {
    background-color:var(--bg-color2);
    width: 100vw;
    align-items: center;
    padding-top: 1rem;
    position: fixed;
    bottom: 0;
    
}

.footerLinks {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.copyright {
    font-size: 0.6rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    color:rgb(103, 98, 98);
}

/* Mobile responsiveness */

@media (min-width: 768px) {

    .backgroundEffects {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: -1000;
        background-image: radial-gradient(var(--bg-color1), var(--bg-color2));
        height: 100vh;
    }

    .hexagonGrid {
        display: grid;
        position: absolute; 
        position: absolute;
        background-image: url('nothing');
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1000;
        grid-template-columns: repeat(20, 5vw);
        grid-template-rows: repeat(24, 4.5vw);
        opacity: 0.2;
        pointer-events: none;
    }

    .hexagonGrid div {
        opacity: 1; 
        aspect-ratio: 1; 
        overflow: visible;
        min-width: 100%;
    }


    .hexagonGrid img {
        filter: invert(70%) sepia(100%) saturate(1000%) hue-rotate(235deg) brightness(100%) contrast(100%);
        width: 200%;
        height: 200%;
        object-fit: contain;
    }
    

    .headerLeftAlign {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        z-index: 0;
        width: 80vw;
    }

    .headerRightAlign {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        z-index: 0;
        width: 80vw;
    }

    /* desktop navbar styling */

    .navbarDesktopDisplay {
        display: flex;
        width: 95%;
        height: 3rem;
        position: fixed;
        top: 0;
        z-index: 2000;
        background-color:var(--bg-color2);
        font-family: OCR A Extended;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        display: flex;
        flex-direction: row;
    }

    .leftNavbarDisplay {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .rightNavbarDisplay {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
    }

    /* home page styling */

    .homeHeader {
        display: flex;
        flex-direction: column;
        font-family: Fira Code;
        text-align: center;
        justify-content: center;
        font-size: 3rem;
        padding-top: 5vh;
        padding-bottom: 0rem;
        color: var(--primary-color);
        text-shadow: 0 0 0.5rem #0800ff;
    }

    .homeNavbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: var(--gap-spacing);
        width: 80vw;
        gap: 3vw;
    }

    .homeNavbar > a {
        display: flex;
        justify-content: center; 
        align-items: center;
        width: 60%;
    }

    .homeLinks {
        display: flex;
        gap: var(--gap-spacing);
        justify-content: center; 
        align-items: center;
    }

    .mobileResume {
        display: none;
    }

    /* projects page styling */

    .projectsHeader {
        text-align: center;
        position: relative;
        top: 3vh;
        left: 0;
        right: 0;
        font-size: 725%;
    }

    .projectsMain {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3vw;
        margin-top: -15vh;
        margin-bottom: 5vh;
    }

    .projectsMain div {
        width: 25vw;
        height: 45vh;
        background-color: var(--bg-color2);
        display: flex;
        justify-content: center; 
        align-items: center;
        border-color: var(--primary-color);
        border-radius: var(--border-radius);
        border-width: 1vh;
        border-style: solid;
    }

    /* about page styling */

    .aboutMain {
        display: inline-block;
        align-items: center;
        margin-top: -15vh;
        width: 80vw;
        z-index: -100;
        font-family: Canva Sans;
        color: white;
    }

    .aboutHeader {
        font-size: 725%;
        margin-bottom: 15vh;
    }

    .aboutImage {
        height: 60vh;
        width: auto;
        object-fit: contain;
        float: right;
        margin-left: 15vh;
        margin-top: 0;
        filter: brightness(0) invert(1);
    }

    /* skills page styling */

    .skillsHeader {
        font-size: 725%;
    }

    .skillsMain {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5vw;
        margin-top: -35vh;
        width: 80vw;
        font-size: xx-large;
    }

    .skillsMain > img {
        width: 30vw;
        height: 60vh;
        object-fit: contain;
        justify-content: flex-start;
    }

    /* contact page styling */

    .contactHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 725%;
        margin-top: 15vh;
    }

    .contactMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
        margin-top: -15vh;
        width: 70vw;
        background-color: rgba(41, 17, 90, 0.2);
        padding: 1rem 1rem 1rem 1rem;
        border-color: var(--primary-color);
        border-width: 0.5rem;
        border-style: solid;
        margin-bottom: 20vh;
    }

    .contactMain form {
        width: 100%;
    }

    .contactMainForm {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        gap: 2vw;
        width: 100%;
        margin-bottom: 1rem;
    }

    .contactMainForm > section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }

    .contactMainForm > section > input, .contactFormMessageSection textarea {
        background-color: var(--bg-color1);
        border: 0.1rem solid var(--text-color);
        color: var(--text-color);
        font-size: 1rem;
        padding: 0.5rem;
        font-family: OCR A Extended;
        display: block;
        width: inherit;
        justify-content: space-between;
        align-content: space-between;
        box-sizing: border-box;
    }

    .contactFormMessageSection textarea {
        height: 100%;
    }

    .contactFormInputSection {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }

    .contactFormInputSection > input {
        height: 4.75rem;
    }

    .contactFormMessageSection {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        height: 10rem;
    }

    /* footer styling */

    .footerLinks {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 95vw;
        margin: 0 auto;
    }

    .desktopResumeLink {
        font-family: OCR A Extended;
        font-weight: bold;
        color: var(--text-color);
        display: flex;
        justify-content: flex-start; 
        z-index: 2000;
    }

    .socialLinkImage {
        padding: 0 0.2rem 0 0.2rem;
    }

}